html, body {
    height: 100%;
    font-size: 100%;
}
body {
    background: #d8ff00;;
    color: #fff;
    cursor: auto;
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}
#contain {
    background: #000;
}
a {
    color: #d8ff00;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*remove gray in iOS*/
}
a:hover {
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: 0.09375em;
}
hr {
    border: 1px solid #fff;
    border-top: none;
}
.animate {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* -------------------------------------------------------------------------- */
header {
    height: 3.1875em;
}
#nav {
    z-index: 10;
    background: #000;
    border-top: 0.1875em solid #d8ff00;
    height:3em;
    width: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#nav > .inline {
    position: relative;
    top: -0.1875em;
    right: -0.375em;
}
.nav {
    position: fixed;
    top: 0;
}
.nav-top {
    position: absolute;
}

.nav-bye-bye {
    top: -3.1875em;
}
#drrn {
    color: #d8ff00;
    font: 600 4em Rajdhani;
    letter-spacing: normal;
    position: absolute;
    top: -4.25rem;
    left: 1rem;
}
.inline > li {
    float: right;
    list-style: none;
    margin-right: 1.375rem;
}
/* -------------------------------------------------------------------------- */
.grid {
    padding: 0;
    margin: 0;
}
.grid:before, .grid:after {
    display: block;
    content: " ";
}
.grid:after {
    clear: both;
}
.grid > li {
    list-style: none;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.grid > li > img {
    display: block;
    width: 100%;
}
#work > li {
    width: 50%;
    position: relative;
}
#work > li > a {
    color: #fff;
}
#work > li > a > div {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}
#work > li > a > div:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#work > li > a > div > div {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
}
#work > li:hover > a > div > div {
    opacity: 1;
}
#work > li > a > div > div > h2 {
    margin: 0;
    font-weight: 600;
}
#work > li > a > div > div > p {
    margin: 0;
    line-height: 1em;
}
#work > li:hover > img {
    opacity: 0.5; 
}
/* -------------------------------------------------------------------------- */
#about {
    background: #181818;
    padding: 2em 2em 0.5em 2em;
}
#about > li {
    width: 100%;
    box-sizing: border-box;
}
#about > li:nth-child(2) {
    padding: 1em 0 0 0;
}
#about > li > hr {
    text-align: left;
    margin-left: 0;
    width: 1em;
}
/* -------------------------------------------------------------------------- */
#jobs-contain {
    padding-bottom: 3em;
    text-align: center;
}
#jobs-contain > h1 {
    padding: 2.5em 2em 0;
    margin-bottom: 0.5em;
    font-size: 1.25em;
}
#jobs-contain > hr {
    margin: 0 auto 3em auto;
    width: 6.75em;
}
#jobs {
    display: inline-block;
    width: 90%;
}
#jobs > li {
    width: 33.33333%;
}
/* -------------------------------------------------------------------------- */
footer {
    text-align: center;
    padding-bottom: .1em;
}
footer > p {
    color: #555;
    font-size: 0.75em;
    letter-spacing: 0.09375em;
}





/* MOBILE(L)================================================================= */

@media screen and (min-width: 640px) {
    #work > li > a > div > div > h2 {
        font-size: 2em;
    }
}
    
/* TABLET(P)================================================================= */

@media screen and (min-width: 640px) {
    header {
        height: 3.9375em;
    }
    #nav {
        height:3.75em;    }
    #drrn {
        font: 600 4.75em Rajdhani;
        top: -5.125rem;
        left: 2.5rem;
    }
    #nav > .inline {
        top: -0.125em;
        right: 1em;
    }
    .nav-bye-bye {
        top: -3.9375em;
    }
    .inline > li {
        font-size: 1.25em;
    }
/* -------------------------------------------------------------------------- */
    #work > li {
        width: 33.33333%;
    }
/* -------------------------------------------------------------------------- */
    #jobs > li {
        width: 25%;
    }
    #jobs-contain > hr {
        width: 6.9375em;
    }
/* -------------------------------------------------------------------------- */
    footer > p {
        font-size: 0.8375em;
    }
}





/* TABLET(L)================================================================= */

@media screen and (min-width: 960px) {
    #about {
        padding: 3em 3em 3em 3em;
    }
    #about > li {
        width: 50%;
    }
    #about > li:nth-child(1) {
        padding-right: 1.25em
    }
    #about > li:nth-child(2) {
        padding: 0 0 0 1.25em;
        margin-top: -1.75em; 
    }
/* -------------------------------------------------------------------------- */
    #work > li {
        width: 25%;
    }
/* -------------------------------------------------------------------------- */
    #jobs-contain > h1 {
        font-size: 1.5em;
    }
    #jobs-contain > hr {
        width: 8em;
    }
    #jobs {
        width: 70%;
    }
    footer > p {
        font-size: 1em;
    }
}





/* DESKTOP=================================================================== */

@media screen and (min-width: 1280px) {
    header {
        height: 5.1875em;
    }
    #nav {
        height:5em;
    }
    #drrn {
        font: 600 6.25em Rajdhani;
        top: -6.75rem;
        left: 2.5rem;
    }
    #nav > .inline {
        top: 0.375em;
        right: 1em;
    }
    .nav-bye-bye {
        top: -5.1875em;
    }
    .inline > li {
        font-size: 1.5em;
    }
/* -------------------------------------------------------------------------- */
    #about {
        padding: 5em 5em 5em 5em;
    }
    #about > li:nth-child(1) {
        padding-right: 2.25em
    }
    #about > li:nth-child(2) {
        padding: 0 0 0 2.25em;
    }
/* -------------------------------------------------------------------------- */
    #work > li > a > div > div > h2 {
        font-size: 2.75em;
    }
    #work > li > a > div > div > P {
        font-size: 1.25em;
    }
/* -------------------------------------------------------------------------- */
    #jobs-contain > h1 {
        font-size: 1.75em;
    }
    #jobs-contain > hr {
        width: 9.5em;
    }

}