html, body {
    height: 100%;
    font-size: 100%;
}
body {
    background: #d8ff00;
    color: #fff;
    cursor: auto;
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}
#contain {
    background: #000;
}
a {
    color: #d8ff00;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*remove gray in iOS*/
}
a:hover {
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: 0.09375em;
}
p, .nav li {
    letter-spacing: 0.03em;
}
hr {
    border: 1px solid #fff;
    border-top: none;
}
img {
    display: block;
    width: 100%;
}
.vid {
    width: 100%;
}
.animate {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.show-tablet {
    opacity: 0;
}
::-moz-selection {
    background: #aaa;
}
::selection {
    background: #aaa;
}
/* -------------------------------------------------------------------------- */
header {
    height: 3.1875em;
}
.nav {
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    border-top: 0.1875em solid #d8ff00;
    height:3em;
    width: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#nav.nav-top {
    position: absolute;
}

#nav.nav-bye-bye {
    top: -3.1875em;
}
#drrn {
    color: #d8ff00;
    font: 600 4em Rajdhani;
    letter-spacing: normal;
    position: absolute;
    top: -1.07em;
    left: 0.25em;
}
.nav ul {
    position: relative;
    top: -0.1875em;
    right: -0.375em;
}
.nav li {
    float: right;
    list-style: none;
    margin-right: 1.375rem;
}
/* -------------------------------------------------------------------------- */
.grid {
    padding: 0;
    margin: 0;
}
.grid:before, .grid:after {
    display: block;
    content: " ";
}
.grid:after {
    clear: both;
}
.grid li {
    list-style: none;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#work li {
    width: 50%;
    position: relative;
}
#work li a {
    color: #fff;
}
#work li a > div {
    z-index: 9;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}
#work li a > div:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#work li a > div > div {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
}
#work li:hover a > div > div {
    opacity: 1;
}
#work h2 {
    margin: 0;
    font-weight: 600;
}
#work p {
    font-size: 1em;
    margin: 0;
    line-height: 1em;
}
#work li:hover img {
    opacity: 0.5; 
}
/* -------------------------------------------------------------------------- */
#about {
    text-align: center;
    padding: 0 1.25em;
}
#about h1, #jobs h1 {
    padding: 2.5em 2em 0;
    margin-bottom: 0.5em;
    font-size: 1.25em;
}
#about hr, #jobs hr {
    margin: 0 auto 3em auto;
    width: 6.9375em;
}
#about-img-contain {
    position: relative;
}
#eye {
    z-index: 9;
    position: absolute;
    width: 3%;
    height: 6%;
    border-radius: 50%;
    top: 28.5%;
    left: 45.5%;
}
#about-img {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/drrn_about-hover.jpg);
    background-size: cover;
}
#eye:hover + #about-img {
    opacity: 1;
}
#about > p {
    width: 100%;
    text-align: left;
    margin-bottom: 1.9375em;
}
#about-button li {
    width: 100%;
    margin-top: .5em;
}
.button {
    background: #d8ff00;
    border-bottom: 0.25em solid #6c8000;
    height: 2.5em;
    text-align: center;
}
.button:hover {
    border-bottom-color: #fff;
}
.button > p {
    color: #000;
    font-weight: 600;
    font-size: 1.1875em;
    line-height: 2.25em;
    margin: 0;
}
/* -------------------------------------------------------------------------- */
#jobs {
    padding-bottom: 2.5em;
    text-align: center;
}
#job-logos {
    display: inline-block;
    width: 90%;
}
#job-logos li {
    width: 33.33333%;
}
/* -------------------------------------------------------------------------- */
footer {
    text-align: center;
    padding-bottom: .1em;
}
footer p {
    color: #555;
    font-size: 0.75em;
    letter-spacing: 0.09375em;
}
/* -------------------------------------------------------------------------- */
.proj-nav {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#proj-nav .swiper-button-prev, #proj-nav .swiper-button-next {
    pointer-events: all;
    background-color: rgba(0, 0, 0, .5);
    padding: 40px 10px;
    margin-top: -58px;
    width: 17px;
    background-size: 17px;
}
#proj-nav.nav-bye-bye {
    left: -38px;
    right: -38px;
}
.project h1 {
    font-weight: 600;
    line-height: 0.875em;
    margin-bottom: 0;
}
.project h3 {
    color: #888;
    margin-top: 0;
}
.description {
    position: relative;
    width: 87%;
    margin: 0 auto 1.5em;
}
.img-description {
    width: 87%;
    margin: 0 auto 2em;
    background: #171717;
    
}
.img-description p {
    padding: 1em 2em 2em;
    margin: 0;
    color: #bbb;
}
.img-gap {
    margin-bottom: 2em;
}

/* MOBILE(L)================================================================= */

@media screen and (min-width: 568px) {
    #about-button li {
        width: 32%;
    }
    #about-button li:nth-child(2) {
        margin-left: 2%;
        margin-right: 2%;
    }
    #work li {
        width: 33.33333%;
    }
    #work h2 {
        font-size: 2em;
    }
    .img-description, .img-gap {
        margin: 0 auto 3em;
    }
    
}
    
/* TABLET(P)================================================================= */

@media screen and (min-width: 640px) {
    p, .nav li, .button > p {
        font-size: 1.25em;
    }
/* -------------------------------------------------------------------------- */
    header {
        height: 3.9375em;
    }
    .nav {
        height:3.75em;    }
    #drrn {
        font: 600 4.75em Rajdhani;
        top: -1.0625em;
        left: 0.4375em;
    }
    .nav ul {
        top: -0.125em;
        right: 1em;
    }
    #nav.nav-bye-bye {
        top: -3.9375em;
    }
/* -------------------------------------------------------------------------- */
    #about {
        width: 79.5%;
        margin: auto;
    }
    #about h1, #jobs h1 {
        font-size: 1.75em;
    }
    #about hr, #jobs hr {
        width: 9.5em;
    }
    #about hr {
        margin-bottom: 4.375em;
    }
    .button > p {
        line-height: 2em;
    }
/* -------------------------------------------------------------------------- */
    #job-logos li {
        width: 25%;
    }
/* -------------------------------------------------------------------------- */
    footer p {
        font-size: 0.8375em;
    }
/* -------------------------------------------------------------------------- */
    #proj-nav .swiper-button-prev, #proj-nav .swiper-button-next {
        padding: 200px 10px;
        margin-top: -222px;
        width: 27px;
        background-size: 27px;
    }
    #proj-nav.nav-bye-bye {
        left: -48px;
        right: -48px;
    }
    .project h1 {
        font-size: 2.75em;
    }
    .project h3 {
        font-size: 1.4375em;
    }
    .description {
        margin: 4em auto 5.5em;
    }
    .img-description, .img-gap {
        margin: 0 auto 4em;
    }
    .show-tablet {
        opacity: 0.375;
    }
}





/* TABLET(L)================================================================= */

@media screen and (min-width: 960px) {
    #about h1, #jobs h1 {
        font-size: 2em;
    }
    #about hr, #jobs hr {
        width: 11em;
    }
    #about hr {
        margin-bottom: 5.75em;
    }
    #about > p, .description p, .img-description p {
        width: 85%;
        max-width: 45em;
    }
/* -------------------------------------------------------------------------- */
    #work li {
        width: 25%;
    }
/* -------------------------------------------------------------------------- */
    footer p {
        font-size: 1em;
    }
 /* -------------------------------------------------------------------------- */
    .description {
        margin: 6em auto 8em;
    }
}





/* DESKTOP=================================================================== */

@media screen and (min-width: 1280px) {
    p, .nav li, .button > p {
        font-size: 1.5em;
    }
/* -------------------------------------------------------------------------- */
    header {
        height: 5.1875em;
    }
    .nav {
        height:5em;
    }
    #drrn {
        font: 600 6.25em Rajdhani;
    }
    .nav ul {
        top: 0.375em;
        right: 1em;
    }
    #nav.nav-bye-bye {
        top: -5.1875em;
    }
/* -------------------------------------------------------------------------- */
    #about {
        width: 62%;
    }#about h1, #jobs h1 {
        font-size: 2.5em;
    }
    #about hr, #jobs hr {
        width: 13.5em;
    }
    .button {
        height: 3.125em;
    }
    .button > p {
        line-height: 2.125em;
    }
/* -------------------------------------------------------------------------- */
    #work h2 {
        font-size: 2.75em;
    }
    #work P {
        font-size: 1.25em;
    }
/* -------------------------------------------------------------------------- */
    #job-logos {
        width: 70%;
    }
/* -------------------------------------------------------------------------- */
    .project h1 {
        font-size: 3.25em;
    }
    .project h3 {
        font-size: 1.625em;
    }
    .description {
        margin: 7em auto 10em;
    }
}